ul{
    list-style: none;
    padding: 3px;
    margin: 2px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.button{

    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.mainbutton
{
    background-color:bisque;
  
}

.mainbutton:hover{
    box-shadow: 2px 3px rgb(136, 91, 33);
}

.secundarybutton{

    background-color:rgb(233, 167, 86);
  
}

.secundarybutton:hover{
    box-shadow: 2px 3px rgb(136, 91, 33);

    }

    .busqueda{
        
        border :1px sienna;
        padding: 3px;
        border-radius: 10px;
    }

    .busqueda > input {
        outline: none;
        border: 0px;
    }
    .busqueda:focus-within{
        border: 1px solid coral;
    }